.section {
  padding: 0 calc(50% - 700px);
  margin: 0 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 50px;
}

.item {
  width: 280px;
  background-color: rgb(48, 48, 48);

  &Active {
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 5px rgba(74, 190, 118, 0.308);
  }

  &:first-child > p {
    background-color: rgb(206, 103, 30);
  }

  &:nth-child(2) > p {
    background-color: rgb(40, 105, 148);
  }

  &:nth-child(3) > p {
    background-color: rgb(218, 186, 47);
  }

  &:last-child > p {
    background-color: rgb(74, 190, 119);
  }

  &:first-child > button {
    &:hover {
      color: rgb(206, 103, 30);
    }
    &::after,
    &::before {
      background-color: rgb(206, 103, 30);
    }
  }

  &:nth-child(2) > button {
    &:hover {
      color: rgb(40, 105, 148);
    }
    &::after,
    &::before {
      background-color: rgb(40, 105, 148);
    }
  }

  &:nth-child(3) > button {
    &:hover {
      color: rgb(218, 186, 47);
    }
    &::after,
    &::before {
      background-color: rgb(218, 186, 47);
    }
  }

  &:last-child > button {
    &:hover {
      color: rgb(74, 190, 119);
    }
    &::after,
    &::before {
      background-color: rgb(74, 190, 119);
    }
  }
}
